:root {
    --font: 'Red Hat Display', sans-serif;
    --Pale-blue: hsl(225, 100%, 94%);
    --Bright-blue: hsl(245, 75%, 52%);
    --Very-pale-blue: hsl(225, 100%, 98%);
    --Desaturated-blue: hsl(224, 23%, 55%);
    --Dark-blue: hsl(223, 47%, 23%);
}

html {
    box-sizing: border-box;
    font-family: var(--font);
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/* ================================== */

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding-inline: 1rem;
    background: url("../images/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    background-color: var(--Pale-blue);
    margin: 0;
    /* padding-bottom: 2rem; */
}

/* =================================== */

.container {
    max-width: 28.125rem;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0;
    border-radius: 1.25rem;
    margin: 5% auto;
}

/* ================================ */
.image-div {
    max-height: 13.75rem;
    padding: 0;

}


.image {
    max-width: 100%;
    max-height: 30rem;
    border-top-left-radius: 1.25rem;
    border-top-right-radius: 1.25rem;

}

.image:hover {
    cursor: default;
}

/* =================================== */

.content-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3.125rem;
    height: 30rem;
    max-height: 100%;
}

.cont {
    margin-bottom: 30px;
    margin-top: 0;
}

/* ================================ */
.content-div h1 {
    font-weight: 900;
    font-size: 1.375rem;
    color: var(--Dark-blue);
}

/* ================================ */
.summary {
    font-size: 1rem;
    text-align: center;
    font-weight: 500;
    color: var(--Desaturated-blue);
    margin-bottom: 1.25rem;
}

/* =================================== */

.pricing {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 6.25rem;
    padding: 1.25rem;
    background-color: var(--Very-pale-blue);
    border-radius: 0.8125rem;
    /* margin: 0; */

}

/* ================================== */

.music-icon {
    max-width: 3.25rem;
    max-height: 3.25rem;

}

.music-icon:hover {
    cursor: default;
}

/* ================================= */

.pricing .left {
    display: flex;
    /* width: 50%; */
    font-family: var(--font);
    align-items: center;
}

/* ================================= */
.amount {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 1.5rem;
    height: 50px;
}

/* =================================== */
.period {
    font-weight: 700;
    font-size: 1rem;
    margin: 0;
    color: var(--Dark-blue);
    white-space: nowrap;
    overflow: hidden;
}

/* ================================ */
.price {
    font-weight: 500;
    font-size: 1rem;
    color: var(--Desaturated-blue);
    margin: 0;
}

/* =============================== */
.pricing .right {
    text-decoration: underline;
    color: var(--Bright-blue);
    font-weight: 700;
    font-size: 0.875rem;
}

.pricing .right:hover {
    text-decoration: none;
    color: hsla(245, 75%, 52%, 0.7);
    cursor: pointer;

}

/* ==================================== */

.proceed {
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    color: white;
    border-radius: 0.75rem;
    padding: 15px;
    font-weight: 700;
    background-color: var(--Bright-blue);
    font-size: 0.875rem;
    box-shadow: 0 10px 15px hsla(245, 75%, 52%, 0.2);


}

.proceed:hover {
    background-color: hsla(245, 75%, 52%, 0.7);
    cursor: pointer;

}

/* ============================== */

.cancel {
    font-size: 0.9375rem;
    font-weight: 700;
    color: var(--Desaturated-blue);
    text-decoration: none;
}

.cancel:hover {
    cursor: pointer;
    color: var(--Dark-blue);
}

/* ==================================== */
.attribution {
    font-size: 12px;
    text-align: center;
    font-weight: 700;
    color: var(--Desaturated-blue);
    width: 100%;
    height: 1rem;
}

.attribution a {
    color: hsl(228, 45%, 44%);
    text-decoration: none;
}


/* ======================================== */
@media screen and (max-width: 376px) {
    body {
        background-image: url("../images/pattern-background-mobile.svg");
    }

    .content-div {
        padding: 2rem;
        max-height: 25.625rem;
        max-width: 100%;
    }

    .amount {
        margin-left: 1rem;
    }

    h1 {
        margin-bottom: 1.25rem;
        margin-top: 0;
    }

    .proceed {
        margin-top: 0;
        margin-bottom: 1.5rem;
    }

    .cont {
        margin-bottom: 1.25rem;
    }

    .image-div {
        max-height: 10rem;
        max-width: 100%;
        padding: 0;

    }

    .image {
        max-height: 10rem;
        min-width: 100%;
    }
}
